
/* Overall container */
.container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Hide overflowing content within the container */
}


/* Sidebar */
.sidebar {
  width: 250px;
   background: #265073; /* Gradient from light blue to sky blue */
  color: #fff; /* White text */
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the sidebar */
}


/* Local navigation */
.local-nav {
  display: flex; /* Add flex display to the .local-nav container */
  flex-direction: column; /* Arrange navigation links vertically */
}

.local-nav a {
  padding: 10px;
  text-decoration: none;
  color: #fff; /* White text for navigation links */
  transition: background-color 0.3s ease;
  margin-bottom: 8px;
  border-radius: 4px; /* Add slight border-radius for a softer look */
}

.local-nav a:hover {
   background-color: #f0d87a; /* Darker bluish background on hover */
  color:#000;
}

/* Search form */
.searchForm {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin-top: 20px; /* Add some margin above the search form */
}

.searchForm input,
.searchForm button {
  border:none;
  padding: 12px;
  background-color: #ecf0f1; /* Background color - Light grayish blue */
  color: #555; /* Text color - Dark gray */
}

/* Adjusted width considering padding on both sides */
.searchForm input {
  width: calc(100% - 2 * 12px); /* Account for padding on both sides */
  border:none;
  border-radius: 4px; /* Add slight border-radius for a softer look */
}

.searchForm button {
  cursor: pointer; /* Indicate clickable action */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  border-radius: 4px; /* Add slight border-radius for a softer look */
  margin-left:4px;
}

.searchForm button:hover {
  background-color: #e74c3c; /* Light red background on hover */
  color: #fff; /* Text color on hover - White */
}

.toggleButton {
  display: none; /* Initially hide the toggle button */
}

.showSidebar {
  transform: translateX(0);
}

@media (max-width: 760px) {
  .toggleButton {
    display: block; /* Show the toggle button on smaller screens */
    cursor:pointer;
    margin-bottom:2px;
    color:#8ACDD7;
    font-weight:bolder;
    
  }

  .sidebar {
    width: 100%; /* Set the width to 100% to cover the entire screen */
    transform: translateX(-100%); /* Initially hide the sidebar off-screen */
    transition: transform 0.3s ease;
    position: fixed; /* Fixed positioning to cover the entire screen */
    top: 0;
    left: 0;
    height: 100vh; /* 100% of the viewport height */
    z-index: 999; /* Ensure the sidebar appears above other content */
  }

  .showSidebar {
    transform: translateX(0); /* Move the sidebar into view */
  }
}